<div class="item clearfix row">
    <div class="col-xs-3 pull-left">
        <a class="btn btn-primary stretch" ng-href="#/">Back</a>
    </div>
</div>
<hr class="none">
<!--<div class="holder padding-zero has-bottom">
    <div class="review-comments clearfix">
        <div class="comment">
            <hr class="small">

            <div class="inner" ng-repeat = "chatData in ContentChat.chatMessageData"><p class="info margin-bottom-zero opacity-seventy" style="float: right">{{chatData.chatFrom}}</p>
                <p class="info margin-bottom-zero opacity-seventy">{{chatData.chatTime | date:"short"}}</p>
                <p class="margin-bottom-zero">{{chatData.chatMessage}}</p>
            </div>
        </div>
    </div>
</div>-->
<div class="review-item infinite-scroll-parent scrollable" style="border: none; height: 400px; overflow-y: auto;">
<div class="comments-container margin-top-fifteen well well-sm margin-bottom-zero" style="background: #fff;">
    <div style="margin-bottom: 50px; "
         infinite-scroll-distance="1"
         data-infinite-container=".infinite-scroll-parent"
         infinite-scroll="ContentChat.getChatData()"
         infinite-scroll-disabled="ContentChat.noMore">
    <div class="comment" ng-repeat = "chatData in ContentChat.chatMessageData | orderBy: '-data.chatTime' ">
        <p class="no-icon info margin-zero"><a class="text-primary">{{chatData.data.chatFrom || 'No Name'}}</a> - {{chatData.data.chatTime | date:'medium'}}</p>
        <p class="margin-zero"><span ng-bind-html="chatData.data.chatMessage | newLine"></span></p>
    </div>
</div>
</div>
</div>
<div class="holder padding-zero bottom-post">

    <hr class="small">
    <div class="post-holder clearfix">
        <div class="add-message pull-left">
            <input type="text" class="form-control" ng-model="ContentChat.chatData"
                   placeholder="Type your message...">
        </div>
        <div class="send-message">
            <input type="submit" class="text-primary" value="Send" ng-click="ContentChat.sendMessage()">
        </div>
    </div>
</div>