<div ng-controller="WidgetHomeCtrl as WidgetHome">
<div class="holder padding-zero has-bottom sticky-bottom-menu clearfix" >
    <div class="infinite-scroll-parent scrollable">
    <div class="feedback-plugin review">
        <div class="media-center-banner plugin-banner clearfix" ng-if="WidgetHome.data">
            <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length" build-fire-carousel=""
                 ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
        </div>
        <div class="padded padding-bottom-zero" ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
            <p ng-bind-html='WidgetHome.safeHtml(WidgetHome.data.content.description)'></p>
        </div>
		<div class="intro text-center padding-top-ten padding-bottom-twenty">
            <!--<p class="margin-top-ten margin-bottom-zero" ng-if="WidgetHome.reviews.length">Reviews: <span style="font-weight:400;">{{WidgetHome.reviews.length}}</span></p>-->
            <p ng-if="WidgetHome.reviews.length">Rating: <span style="font-weight:400;">{{WidgetHome.lastRating}}/5</span></p>
            <div class="rating br-wrapper br-theme-css-stars" ng-if="WidgetHome.reviews.length">
                <!--<ng-rate-it ng-model="WidgetHome.lastRating" class="custom"  read-only = "true"></ng-rate-it>-->
                <average-star-rating ng-model="WidgetHome.lastRating" max="5"><average-star-rating>

            </div>
            <p ng-if="WidgetHome.lastRating >= 0 && WidgetHome.lastRating <=1 && WidgetHome.reviews.length">Poor</p>
            <p ng-if="WidgetHome.lastRating>1 && WidgetHome.lastRating<=2 && WidgetHome.reviews.length">Average</p>
            <p ng-if="WidgetHome.lastRating>2 && WidgetHome.lastRating<=3 && WidgetHome.reviews.length">Good</p>
            <p ng-if="WidgetHome.lastRating>3 && WidgetHome.lastRating<=4 && WidgetHome.reviews.length">Excellent</p>
            <p ng-if="WidgetHome.lastRating>4 && WidgetHome.reviews.length">Outstanding</p>

            <!--<p ng-if="WidgetHome.reviews.length"><span ng-bind-html="WidgetHome.lastReviewComment | newLine"></span></p>-->
            <!--<a class="btn btn-success btn-sm" ng-if="WidgetHome.data && WidgetHome.reviews.length" ng-click="WidgetHome.openWall()">Wall</a>-->
            <!--<a class="btn btn-success btn-sm"  ng-if="WidgetHome.data && !WidgetHome.reviews.length" ng-click="WidgetHome.openSubmit()">Submit Review</a>-->
        </div>
        <div class="copy padding-left-ten padding-right-ten margin-bottom-fifteen"  ng-if="WidgetHome.reviews.length">
            <p class="margin-zero"><span ng-bind-html="WidgetHome.lastReviewComment | newLine"></span></p>
        </div>
        <hr class="small" ng-if="WidgetHome.reviews.length">

        <!--<div class="review-comments clearfix" ng-if="WidgetHome.chatMessageData.length">
            <div class="comment">
                <hr class="small">

                <div class="inner" ng-repeat = "data in WidgetHome.chatMessageData"> <p class="info margin-bottom-zero opacity-seventy" style="float: right">{{data.chatFrom}}</p>
                     <p class="info margin-bottom-zero opacity-seventy">{{data.chatTime | date:"short"}}</p>

                    <p class="margin-bottom-zero">{{data.chatMessage}}</p>
                </div>
            </div>
        </div>-->

    <div class="review-comments clearfix" >
        <div id="top"
             infinite-scroll-distance="1"
             data-infinite-container=".infinite-scroll-parent"
             infinite-scroll="WidgetHome.getChatData()"
             infinite-scroll-disabled="WidgetHome.noMore">
        <div class="comment" ng-repeat = "data in WidgetHome.chatMessageData | orderBy:'-data.chatTime'">
            <hr class="small">
            <div class="inner">
                <p class="info margin-bottom-zero opacity-seventy"><a class="text-primary" ng-click="WidgetHome.buildfire.auth.openProfile(data.data.id)">{{data.data.chatFrom || 'No Name'}}</a> - {{data.data.chatTime |date:'medium'}}</p>
                <p class="margin-bottom-zero"><span ng-bind-html="data.data.chatMessage | newLine"></span></p>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
<!--<a ng-click="WidgetHome.goBack()">Edit</a>-->
<div class="holder padding-zero bottom-post post-container" ng-if="WidgetHome.currentLoggedInUser">
    <hr class="small">
    <div class="post-holder clearfix">
        <div class="add-message pull-left">
            <textarea rows="1" cols="30" placeholder="Type your message..." name="text"
                      ng-model="WidgetHome.chatData" class="text-area-custom"></textarea>
            <!--<input type="text" class="form-control" ng-model="WidgetHome.chatData"
                   placeholder="Type your message...">-->
        </div>
        <div class="send-message">
            <input type="submit" class="text-primary" value="Send" ng-click="WidgetHome.sendMessage()">
        </div>
    </div>
</div>
</div>