
<script type="text/javascript" charset="utf-8">
	$(function() {
	 	$('#stars').barrating({
	     	theme: 'css-stars'
	  	});
	});
</script>
<div class="holder padding-zero" ng-controller="WidgetWallCtrl as WidgetWall">
	<div class="feedback-plugin review-wall">
		<div class="intro text-center padding-top-ten padding-bottom-twenty">
			<p class="margin-top-ten margin-bottom-zero" ng-if="WidgetWall.reviews.length">Reviews: <span style="font-weight:400;">{{WidgetWall.reviews.length}}</span></p>
			<p ng-if="WidgetWall.reviews.length">Average Rating: <span style="font-weight:400;">{{ WidgetWall.totalRating / (WidgetWall.reviews.length) | number:2 }}/5</span></p>
			<div class="rating br-wrapper br-theme-css-stars" ng-if="WidgetWall.reviews.length">
				<!--<ng-rate-it ng-model="WidgetWall.startPoints" class="custom"  read-only = "true"></ng-rate-it>-->
				<average-star-rating ng-model="WidgetWall.startPoints" max="5"></average-star-rating>

			</div>
			<p ng-if="WidgetWall.startPoints<=1" ng-if="WidgetWall.reviews.length">Poor</p>
			<p ng-if="WidgetWall.startPoints>1 && WidgetWall.startPoints<=2" ng-if="WidgetWall.reviews.length">Average</p>
			<p ng-if="WidgetWall.startPoints>2 && WidgetWall.startPoints<=3" ng-if="WidgetWall.reviews.length">Good</p>
			<p ng-if="WidgetWall.startPoints>3 && WidgetWall.startPoints<=4" ng-if="WidgetWall.reviews.length">Excellent</p>
			<p ng-if="WidgetWall.startPoints>4" ng-if="WidgetWall.reviews.length">Outstanding</p>
			<div  ng-if="WidgetWall.noReviews" class="no-event-found padded">
				<div class="well">No Reviews.</div>
			</div>
			<a class="btn btn-success btn-sm" ng-if="WidgetWall.noReviews && WidgetWall.reviews" ng-click="WidgetWall.submitReview()">Create Your Own Review</a>
            <a class="btn btn-success btn-sm" ng-if="!WidgetWall.noReviews && WidgetWall.reviews" ng-click="WidgetWall.submitReview()">Update Your Review</a>

			<!--<a class="btn btn-success btn-sm" href="#/">Home</a>-->
			<!--<a href="#/chatHome" ng-if="WidgetWall.reviews.length">Chat</a>-->
		</div>
         <div id="top"
             infinite-scroll-distance="1"
             data-infinite-container=".infinite-scroll-parent"
             infinite-scroll="WidgetWall.getReviews()"
             infinite-scroll-disabled="WidgetWall.noMore">
		<div class="review-item clearfix" ng-repeat = "data in WidgetWall.reviews | orderBy:'-data.addedDate'">
			<hr class="small">
			<div class="head row clearfix padding-left-ten padding-right-ten margin-bottom-fifteen">
				<div class="col-xs-8 pull-left">
					<div class="media-holder pull-left">
                        <img ng-if="!data.data.userImage" load-image="1x1" data-final-src="./assets/avatar-placeholder.png">
						<!--<img src="http://www.placehold.it/100x100" ng-if="!data.data.userImage">-->
						<img ng-if="data.data.userImage"  load-image="1x1" data-final-src="{{data.data.userImage| cropImage:60:60}}">
					</div>
					<div>
						<p class="text-primary ellipsis margin-bottom-zero padding-left-ten">
							<a class="text-primary" ng-click="WidgetWall.buildfire.auth.openProfile(data.userToken)">{{data.data.displayName || 'No Name'}}</a>
						</p>
						<p class="date opacity-seventy">{{data.data.addedDate | date:'medium'}}</p>
					</div>
				</div>
				<div class="col-xs-3 pull-right text-right">
					<span class="stars"><span style="font-weight:400;">{{data.data.starRating}}</span> stars</span>
				</div>
                <a ng-click="WidgetWall.goToChat(data)">
                    <span class="icon icon-bubble"></span>
                </a>
			</div>
			<div class="copy padding-left-ten padding-right-ten margin-bottom-fifteen" ng-click="WidgetWall.goToChat(data)">
				<p class="margin-zero"><span ng-bind-html="data.data.Message | newLine"></span></p>
			</div>
		</div>
     </div>
    </div>
</div>